server: # *服务配置
  mode: webserver # 服务模式 manage(管理服务器[单])、webserver(接口服务器[多])、gateway(网关服务器[多])、chat(聊天服务器[多])、match(匹配服务器[单])、battle(战斗服务器[多])
  url: http://127.0.0.1:9310 # 项目地址/域名/项目访问地址/上传资源访问地址
  host: 127.0.0.1 # 服务监听地址，推荐 127.0.0.1
  port: 6001 # 服务监听端口
  grpc_port: 6002 # grpc服务监听端口
  ip: 192.168.1.100 # 服务器ip，内网或者公网ip
  debug: false # 开启debug模式
  env: local # 运行环境 local(开发) production(线上)
  log_access: ./storage/logs/go_access.log # 访问日志保存路径
  log_error: ./storage/logs/go_error.log # 错误日志保存路径
  template: false # 加载模板 false 的时候 部署可以不需要resources目录
  manage_ws: ws://192.168.1.99:6001/ws/manage # 管理服务器ws地址，当服务模式不是manag的时都需要提供这个地址，这个地址是manage服务器的地址，只能运行一个manage
  manage_tcp: 192.168.1.99:6002 # 管理服务器grpc地址

mysql: # *mysql 配置
  host: 127.0.0.1  # 数据库地址
  port: 3306       # 数据库端口
  database: xxxxx  # 数据库名
  username: root   # 用户名
  password: 123456 # 密码
  prefix: unite_     # 表前缀
  log: false        # 开启sql日志，打印sql执行日志到控制台(server.debug模式打开的时候才会输出到控制台)
  save_log: false   # 保存sql日志到文本，需要先打开 "开启sql日志"，server.debug模式关闭的时候照样可以写入到文件
  log_path: ./storage/logs/sql.log # sql 日志保存地址，需要先打开 "保存sql日志到文本"

redis: # *redis 配置
  host: 127.0.0.1  # 地址
  port: 6379 # 端口`
  password: # 密码
  prefix: unite_ # redis前缀
  pool: 3 # 连接池数量
  ping: 60 # 心跳时间

rsa: # *RSA 加解密
  public_key: ./config/rsa_public.key # 公钥路径
  private_key: ./config/rsa_private.key # 私钥路径

other: # *其他配置
  public_dir: /www/wwwroot/public/upload/ # 静态文件保存目录，后面一定要加上 / ,其中 /www/wwwroot 是nginx的静态资源目录
  public_prefix: /public/upload/ # 前端寻址前缀
  token_key: xxxxxxxxxxxx # 接口token签发密钥
  aes_key:  xxxxxxxxxxxxxxxx # AES 16位字符密码

push: # 推送配置
  use: false # 开启异常推送(env是production时可用)
  mode: bark # 推送方式：bark、dingTalk、dingTalkMarkDown、wechat
  bark_url: https://api.day.app/xxxxx/ # bark推送地址
  dingTalk_url: https://oapi.dingtalk.com/robot/send?access_token=xxxxxxx # 钉钉推送地址
  wechat_url: https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxxxxxxx # 企业微信推送地址

qiniuyun: # 七牛云配置
  bucket: xxx # 七牛云空间名称
  access_key: xxxxxxxxxxx # 七牛云AK
  secret_key: xxxxxxxxxxx # 七牛云SK

email: # 邮箱配置
  name: Break技术团队 # 发件人名称
  user: xxxx@163.com # 发件人邮箱
  pass: xxxxxxxxxxxx # 发件人密码
  host: smtp.163.com # 邮箱服务器
  port: 465 # 邮箱端口

alipay: # 支付宝网页&移动应用支付配置
  appid: 20220122224500 # AppID
  private_key: ./config/alipay.key # 应用私钥路径，后缀也可以是txt，反正是文本就行
  notify_url: https://www.xxx.com/xxxx # 回调地址